name: Build docker image

on: [push]

jobs:
    build-action:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v6
            - name: Build action image
              run: make docker-build
