name: get ocular version

permissions:
    contents: read

on: [push]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - name: get ocular version
              uses: sudo-bot/action-scrutinizer@latest
              with:
                  cli-args: "--version"
